# Backend
PORT=4000
JWT_SECRET=cambia_este_secreto
# Supabase
SUPABASE_URL=https://vntxtzbjjkcndtywkdik.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZudHh0emJqamtjbmR0eXdrZGlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTM4OTA5NywiZXhwIjoyMDk2OTY1MDk3fQ.eHFgsNp9zZ1JKfJptp9jakD3zWPgSpYXx-BATZ4i7Ns
